@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --bg-clr: #0f172a;
    --border-clr: #334155;
    --txt-primary-clr-dark: #e2e8f0;
    --txt-secondary-clr-dark: #cbd5e1;
    --primary-clr: #73f;
    --label-bg-dark: #334155;
    --ff-barlow: "Barlow", sans-serif;
    --ff-heebo: "Heebo", sans-serif;
    --ff-plus: "Plus Jakarta Sans", sans-serif;
}

.to_top {
    position: fixed;
    bottom: 5rem;
    right: 5rem;

    cursor: pointer;
    font-size: 2rem;
    color: white;
    border-radius: 50%;

    width:4.5rem;
    height: 4.5rem;
    background-color: var(--primary-clr);
    display: grid;
    place-items: center;
    z-index: 999;
    transform: translate(10rem, 0);
}
.to_top.show {
    transform: translate(0, 0);
}
.to_top:hover > i{
    transform: translate(0, -20%);
    transition: all linear .3s;
}
.container {
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;
    width: 90%;
    max-width: 977px;
}
.data {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 2rem 0;

    margin-top: 2rem;
    padding: 0 2rem;
    width: 100%;
}
.data__child {
    width: 100%;
}
/* cards */
.cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    gap: 6rem 2rem;
    margin: 6rem 0;
    width: 100%;
}
.card {
    border: 1px solid var(--border-clr);
    border-radius: 2rem;

    padding: 2rem;
    width: 40rem;

    position: relative;
    transition: linear all .2s;

}
.card:hover {
    transform: translateY(-3%);
    box-shadow: 0 15px 20px -20px #ffffff79;
    transition: linear all .2s;
}
/* .card::after {
    content: '\f135';
    font: var(--fa-font-solid);

    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    top: -.5rem;
    left: -.5rem;

    color: var(--txt-secondary-clr-dark);
    font-size: 2rem;
} */
.card .name {
    font-weight: 500;
    font-family: var(--ff-barlow);
    color: var(--txt-primary-clr-dark);
    margin-bottom: 2rem;
}

/* tags */
.tags {
    margin-top: 1rem;
    
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}
.tag {
    background-color: var(--label-bg-dark); 

    color: var(--txt-primary-clr-dark);
    font-family: var(--ff-barlow);
    height: fit-content;

    width: fit-content;
    padding: .8rem;
    border-radius: .8rem;

    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;

    text-align: center;
    word-break: break-word;

}
.featured {
    background-color: #73f !important;

    position: absolute;
    top: -1rem;
    left: 1rem;
    transform: translateX(-50%) rotate(-45deg);
    z-index: 999;
}
.fav {
    /* background-color: # !important; */
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);

    height: 5rem;

    display: grid;
    place-items: center;
}
.dev {
    background-color: #0077b5 !important;
}
.free {
    background-color: #E60866;
}

.desc {
    margin-top: 2rem;
    text-transform: lowercase !important;
    line-height: 3rem;
}
@media (max-width: 1350px) {
    .container {
        width: 100%;
    }
    
}@media (max-width: 1220px) {
    .data__child > h3 {
        text-align: center;
    }

    .cards {
        grid-template-columns: repeat(2, auto);
        place-items: center;
        gap: 7rem 0;
    }
    .card {
        max-width: 35rem;
    }

}
@media (max-width: 1100px) {
    .cards {
        grid-template-columns: repeat(1, auto);
        place-items: center;
    }
    .card {
        max-width: 40rem;
    }

}
@media (max-width: 630px) {
    .card {
        max-width: 30rem;
    }
}
@media (max-width: 480px) {
    .data {
        padding: 0;
    }
    .cards {
        gap: 10rem 0;
        margin-top: 2rem;
    }
    .data__child {
        margin-bottom: 6rem;
    }
    .tags {
        grid-template-columns: repeat(2, auto);
    }
    .fav {
        width: 90%;
        top: 100%;
    }
    .card {
        max-width: 25rem;
    }
}
@media (max-width: 500px) {
    .to_top {
        right: 2rem;
    }
    
}